services:
  dkgservicenode:
    container_name: dkg_service_node
    image: ${DOCKER_REGISTRY-}dkgservicenode
    build:
      context: .
      dockerfile: dkgServiceNode/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    depends_on:
      - dkgservice_db

  dkgnode1:
    container_name: dkg_node_1
    image: ${DOCKER_REGISTRY-}dkgnode
    environment:
      - DKG_SERVICE_NODE_URL=http://dkg_service_node:8080
      - DKG_NODE_NAME=First node
      - DKG_SOLANA_KEYSTORE=eyJjcnlwdG8iOnsiY2lwaGVyIjoiYWVzLTEyOC1jdHIiLCJjaXBoZXJ0ZXh0IjoiODNmMGRjNTZiMDcyZTQzNGIyZjVkNmI4Y2RhYTU0NGRjNGM3MmM1MmJmYjNlYWUyZmI5MGI4MGZkNDNkYmZkYWI5N2Q2NzIwMzlmNjMxY2I4YzVlMzFjNzlkYmVmNjg5YzdiNjcwNTNkNzBkNzBmYjdkZTIzYjQ3NDc0YWI3ODQiLCJjaXBoZXJwYXJhbXMiOnsiaXYiOiI1YTc2ZTljNjE1ODFkMzAxZmE3N2NhMWIwZmExYmY5NiJ9LCJrZGYiOiJzY3J5cHQiLCJtYWMiOiJiNzk5MTRkOGY5YzI2OTliZGQ5OGU3NGZjNDYxODUxYzdiNGJhYmJlNjE1NGRlNGMzN2ZiYTk1ZWRjOGJlMjRhIiwia2RmcGFyYW1zIjp7Im4iOjI2MjE0NCwiciI6MSwicCI6OCwiZGtsZW4iOjMyLCJzYWx0IjoiOWQwMDdmZmY0YjIzYjY1NTZiNTRhYWIzOTBlZmVjMjRlY2U1Mzg1N2ZlNDg0MWQ1ZDllNzgyYWUwNDI0ZWNhOCJ9fSwiaWQiOiIxMjMxYTA5MC01OTA1LTQyY2MtOTQ5Ny03NDJlMjkwZWM2YTAiLCJhZGRyZXNzIjoiSFlndlM1U0pyVDN3SHFKdGl6Z1ZEaW1td1ZYd3NOZk5MVnlUeEg4UDdVV1ciLCJ2ZXJzaW9uIjozfQ==
    build:
      context: .
      dockerfile: dkgNode/Dockerfile
    depends_on:
      - dkgservicenode

  dkgnode2:
    container_name: dkg_node_2
    image: ${DOCKER_REGISTRY-}dkgnode
    environment:
      - DKG_SERVICE_NODE_URL=http://dkg_service_node:8080
      - DKG_NODE_NAME=Second node
      - DKG_SOLANA_KEYSTORE=eyJjcnlwdG8iOnsiY2lwaGVyIjoiYWVzLTEyOC1jdHIiLCJjaXBoZXJ0ZXh0IjoiZmY3MTY0ZDMyOWQ2NWVkODhmZjdhZDFlMmI1YWJkNzczZjlkNzUzNjIyMDdhZjhkNzVmZDU0MWFjYWM0NWVhMDU4MzcwOTdlOGNlNTI0NGFlNTNlMWQ0N2E2ZTMzMGMwZjJmYjY2NWMzZGQzNzhmY2MyYjVjY2VlMDcwZjYxMjMiLCJjaXBoZXJwYXJhbXMiOnsiaXYiOiI0OWJmOTQyYjliZWFmMjQzNWZiOGYyZjkwZTFlMGRlNCJ9LCJrZGYiOiJzY3J5cHQiLCJtYWMiOiI3ZGZkNzQwMDBiNWNjMjA2MWUzMWU1Nzg4NGUyMmQyYjYzYzM1YTY0NTU3MmNjMTA3Y2M0NWQzYTQwMzc4OTVhIiwia2RmcGFyYW1zIjp7Im4iOjI2MjE0NCwiciI6MSwicCI6OCwiZGtsZW4iOjMyLCJzYWx0IjoiYWU5NTA0MWNlNTUyMTRmYjU3MzgzYTVkMjE2YmJiMDk2MzA5ZjNiMjA3ZWMzYTY4MTZlNjkyMzEyNDNkZjYzMSJ9fSwiaWQiOiIzYmRhZTA2OC03ZTEzLTRjMTYtOTM1ZC1iYjMyYzc1YzcwMTYiLCJhZGRyZXNzIjoiaHRBRW81bW0xQnY5SDRUUE1YWFJjTGhqeHB5UzZMR3lLWXl0bVVnNWVEZCIsInZlcnNpb24iOjN9

    build:
      context: .
      dockerfile: dkgNode/Dockerfile
    depends_on:
      - dkgservicenode

  dkgnode3:
    container_name: dkg_node_3
    image: ${DOCKER_REGISTRY-}dkgnode
    environment:
      - DKG_SERVICE_NODE_URL=http://dkg_service_node:8080
      - DKG_NODE_NAME=Third node
      - DKG_SOLANA_KEYSTORE=eyJjcnlwdG8iOnsiY2lwaGVyIjoiYWVzLTEyOC1jdHIiLCJjaXBoZXJ0ZXh0IjoiOWE5ZmYyMmUxMWYyMzkwOWNiODQzNzZhYTA3NzM3ZDU5NTI2NDgwMjRiYjcwMGQwOTA5OWEwMDQyYjg3OTU4NzBlMzJmN2E0MDFlZTk4MDZhZTYwYTc4ZWM3YzYwNGNhZWU2MzVlOTk0YjMzODA1ODhiMGUzYzNkNDVmYTY1MDkiLCJjaXBoZXJwYXJhbXMiOnsiaXYiOiJiZTVhZTRmYjkyZDcxYTg0YTU4YmM0MjJjMTRhMDhhYyJ9LCJrZGYiOiJzY3J5cHQiLCJtYWMiOiI0YTQ1MTZkOWFlMWYxOGY0YTIwNGZlMDZlNWEwMmFlYzQ2NGIzYjI1NDk4M2U4Y2E4ZjI5Y2ZhOWZkMWY3ZGYyIiwia2RmcGFyYW1zIjp7Im4iOjI2MjE0NCwiciI6MSwicCI6OCwiZGtsZW4iOjMyLCJzYWx0IjoiNDc1ZWVhMjVkZDA4ODIwMjBmODcwZTg4Y2Q3NmExNzU3MzIzMzQ3YWI0ZDI1ZmRkMjM2YWFmYTg4OTkxNDQ3YiJ9fSwiaWQiOiI5M2ZjYTFhYi0wNGZkLTQzNjUtYTgxYS1jN2QwMTE1YWI0ZmMiLCJhZGRyZXNzIjoiOUxZbldlSER5bm4zWHpmY1NQVVNHRWNpQVlhRlFqZ0F1dkoyRzNnc2k0dGkiLCJ2ZXJzaW9uIjozfQ==
    build:
      context: .
      dockerfile: dkgNode/Dockerfile
    depends_on:
      - dkgservicenode

  dkgnode4:
    container_name: dkg_node_4
    image: ${DOCKER_REGISTRY-}dkgnode
    environment:
      - DKG_SERVICE_NODE_URL=http://dkg_service_node:8080
      - DKG_NODE_NAME=Fourth node
      - DKG_SOLANA_KEYSTORE=eyJjcnlwdG8iOnsiY2lwaGVyIjoiYWVzLTEyOC1jdHIiLCJjaXBoZXJ0ZXh0IjoiNzRmYjhmOWM3YjJhOTMyOGI2NmYyMTEwOThhNGQ3YjQ3MjFmYWY4NDNkZDNhNDEzODI2ZDZjMjNmYjJiMWNiN2NlYzZlN2JhMmZhMGU2YzY5NTllNzUyNzdjNWY1YThmNjMwZWQ1Y2Q1NDRhMmJmMDEwYzU4NzFhZTViN2EwMzgiLCJjaXBoZXJwYXJhbXMiOnsiaXYiOiJiZWY3MzYwNjc5YzZmYjE1NDVhMDdjMjk0ZmJkZDRhNiJ9LCJrZGYiOiJzY3J5cHQiLCJtYWMiOiIwNjgyMmM2YzE0ZjE1MDZjYzI4MzcyZWFlZTVhNDA4OWJjMDk3NzgxMzAzZWQ0ZjRiZDJmYmRkMTliOTgyM2FhIiwia2RmcGFyYW1zIjp7Im4iOjI2MjE0NCwiciI6MSwicCI6OCwiZGtsZW4iOjMyLCJzYWx0IjoiNTZhNDRjZDViYWMwZWNkNGYxM2I1MTBmNzI0N2FmMzY1MmI4MDQ1ZTg2ODA3ZDhmMjkwNjQ4YjE1NzE5OTZiNiJ9fSwiaWQiOiIyZjBjZjdhOS1lMjJkLTRkMTEtYTQwYy01YTQ3OTZkNzc1YTUiLCJhZGRyZXNzIjoiOXFFaFNwREtpV0daSHVORWZtaVhMMVFjS1lpaWdxenQ2UWVwNnBQaUNlc0wiLCJ2ZXJzaW9uIjozfQ==
    build:
      context: .
      dockerfile: dkgNode/Dockerfile
    depends_on:
      - dkgservicenode

  dkgnode5:
    container_name: dkg_node_5
    image: ${DOCKER_REGISTRY-}dkgnode
    environment:
      - DKG_SERVICE_NODE_URL=http://dkg_service_node:8080
      - DKG_NODE_NAME=Fifth node
      # DKG_NODE_DIE_ON_STEP_TWO=Yes
      - DKG_SOLANA_KEYSTORE=eyJjcnlwdG8iOnsiY2lwaGVyIjoiYWVzLTEyOC1jdHIiLCJjaXBoZXJ0ZXh0IjoiYzkyOGRhMmU2MTVhMDUxN2Y3NDljNWNmZTQ3MDQwYmZlMzVlMDI4ZmU0N2YxZTBjZjRkNjcxNTE5MThlNWNlMWUyMjdiNTc3MzMzZDA2MjgwMDgxYTA4ZTUxOGIyOTgzNjM5NjYwOTVmMTM2YjExNzM5MTUyYjU0YzZjZWY5ODEiLCJjaXBoZXJwYXJhbXMiOnsiaXYiOiJlYTY5MDExNzg4ZTQwYmYyOWFmMjYzYzZjN2I4NDE0MiJ9LCJrZGYiOiJzY3J5cHQiLCJtYWMiOiI1OGIyMzllNTk0Mjk1MGY0ZGQ3YzI5NjI1MTIwOTdhZjBmNDBjOWE4ZmFjMTBiYTA2ZTQyYTdmNzIwNzNjOWUwIiwia2RmcGFyYW1zIjp7Im4iOjI2MjE0NCwiciI6MSwicCI6OCwiZGtsZW4iOjMyLCJzYWx0IjoiMzczZGNlODI4NjU3MDY2ZjU3NmQwMTM4NTUxMDJhMTczZDJhMTQwZDhlYWMzMTIzZmZlZWUzZjg0ZDA5NjM0ZSJ9fSwiaWQiOiIxMjMyNWE2MS1iYTRlLTQ5MjEtYTEyYi05YTA4NDg0OWQ3YjEiLCJhZGRyZXNzIjoiRlBVY2lmNEI1eDMxTFlNUFpnbldDNWdWSDZKbnNIMzE5TGR0RWhTZmJjV1MiLCJ2ZXJzaW9uIjozfQ==
    build:
      context: .
      dockerfile: dkgNode/Dockerfile
    depends_on:
      - dkgservicenode

  dkgservice_db:
    container_name: dkgservice_db
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dkgservice
    volumes:
      - pgdata:/var/lib/postgresqlc

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8082:8080

volumes:
  pgdata: {}
