@page "/"

<PageTitle>Dkg Web Node</PageTitle>


@inject dkgWebNode.Services.DkgWebNodeService dkgWebNodeService

@if (dkgWebNodeService.IsAuthorized())
{
    <h1>Operations</h1>
    <span>Welcome to your new app.</span>

}
else if (dkgWebNodeService.HasKeystore())
{
    <h1>Login</h1>
    <span>Welcome to your new app.</span>
}
else
{
 <AccountSetup />
}



