@page "/"

@inject DkgWebNodeService DkgWebNodeService
@inject KeystoreService KeystoreService
@implements IDisposable

<PageTitle>Dkg Web Node</PageTitle>


@if (DkgWebNodeService.HasKeys())
{
    <h1>Operations</h1>
    <span>Welcome to your new app.</span>

}
else if (_keystoreExists)
{
    <AccountLogin />
}
else
{
 <AccountSetup />
}


@code {
    private bool _keystoreExists = false;

    protected override async Task OnInitializedAsync()
    {
        DkgWebNodeService.OnChange += StateHasChanged;
        _keystoreExists = await KeystoreService.Exists();
        KeystoreService.OnClear += HandleKeystoreCleared;
    }

    private async void HandleKeystoreCleared()
    {
        var oldKeystoreExists = _keystoreExists;
        _keystoreExists = await KeystoreService.Exists();
        if (_keystoreExists != oldKeystoreExists) 
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        DkgWebNodeService.OnChange -= StateHasChanged;
        KeystoreService.OnClear -= HandleKeystoreCleared;
    }
}   
